.generalContact{
  height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.generalContactWithHold{
  width: 1100px;
  /* background-color: crimson; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contactText{
  width: 300px;
  /* background-color: aqua; */
  text-align: center;
  margin-bottom: 30px;
}

.mapCont{
  height: 500px;
  width: 1100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  object-fit: cover;
}